<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<header th:replace="~{fragments/navbar :: navbar}"></header>

<main>
    <div class="container my-5">
        <div class="text-center mb-4">
            <h1 class="display-4">Bem-vindo ao PokeCafe!</h1>
            <p class="lead">As sobremesas mais deliciosas e temáticas esperam por você.</p>

            <div th:if="${mensagemSucesso}" class="alert alert-success mt-3" role="alert">
                <span th:text="${mensagemSucesso}"></span>
            </div>
            <div th:if="${mensagemErro}" class="alert alert-danger mt-3" role="alert">
                <span th:text="${mensagemErro}"></span>
            </div>
            <p class="mt-4">
                <a th:href="@{/verCarrinho}" class="btn btn-info">
                    Ver Carrinho (<span th:text="${quantidadeCarrinho}">0</span> itens)
                </a>
            </p>

            <div th:if="${mensagemCarrinho}" class="alert alert-info mt-3" role="alert">
                <span th:text="${mensagemCarrinho}"></span>
            </div>

        </div>

        <h2 class="text-center mb-4">Nossas Sobremesas</h2>
        <div class="container-cards">
            <div class="card" th:each="sobremesa : ${listaDeSobremesas}">
                <img th:src="@{'/images/' + ${sobremesa.imgUrl}}" alt="Imagem da sobremesa"> <h2 th:text="${sobremesa.nome}">Nome da Sobremesa</h2>
                <p><strong>Descrição:</strong> <span th:text="${sobremesa.descricao}">Descrição do item</span></p>
                <p><strong>Categoria:</strong> <span th:text="${sobremesa.categoria}">Categoria do item</span></p>
                <p><strong>Preço:</strong> R$ <span th:text="${#numbers.formatDecimal(sobremesa.preco, 0, 2)}">Preço do item</span></p>
                <a th:href="@{'/adicionarCarrinho/' + ${sobremesa.id}}" class="btn">Adicionar ao carrinho</a>
            </div>
        </div>

    </div>
</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>